# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
app/logs/*
app/cache/*
app/sessions/*
!app/logs/.gitkeep
!app/cache/.gitkeep
!app/sessions/.gitkeep
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# Composer
composer.phar

# Tmp
/web/adminlte