# Bootstrap
app/bootstrap*
node_modules
bower_components

# Symfony directories
vendor/*
app/logs/*
app/cache/*
app/sessions/*
!app/logs/.gitkeep
!app/cache/.gitkeep
!app/sessions/.gitkeep
web/uploads/*
web/bundles/*
web/assets/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# Composer
composer.phar

#Capifony
Capfile
app/config/deploy.rb