language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6

branches:
    only:
        - master
        
before_script: 
    - cp app/config/parameters.yml.dist app/config/parameters.yml
    - composer self-update
    - composer install --no-interaction --dev
    - app/console doctrine:database:create --env=test > /dev/null
    - app/console doctrine:schema:create --env=test > /dev/null
    
script: 
    - phpunit -c app/ --coverage-text --coverage-clover ./build/logs/clover.xml
    - wget https://scrutinizer-ci.com/ocular.phar
    - php ocular.phar code-coverage:upload --format=php-clover ./build/logs/clover.xml

after_script: php bin/coveralls
