{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }} | Config | Times
{% endblock %}

{% block headerContent %}
    <h1>
        Config
        <small>time category</small>
    </h1>
    <ol class="breadcrumb">
        <li><i class="fa fa-cogs"></i> Config</li>
        <li><i class="fa fa-clock-o"></i> Time category</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="box box-primary">
                <div class="box-header">
                    <!-- Potential title -->
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="3" class="text-center">No results</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" /></td>
                                <td>Setup</td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                            Options <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="">View</a></li>
                                            <li><a href="">Edit</a></li>
                                            <li class="divider"></li>
                                            <li><a href="" class="js-delete-item">Delete</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="box-footer clearfix">
                    <div class="col-xs-6">
                        <div class="btn-group pagination">
                            <a href="" class="btn btn-primary"><i class="fa fa-lg fa-plus-circle"></i>  Add category</a>
                            <a href="" class="btn btn-default"><i class="fa fa-lg fa-trash-o"></i>  Delete selected</a>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <!-- Pagination -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}