.search-form {
    padding: 10px 10px 0px 0px;
}

table th a.sortable {
    color: #000;
}

table th a:hover {
    color: #3c8dbc;
}

.dropdown-menu > li > a.delete:hover {
    background-color: #f56954;
}