{% extends '::base_install.html.twig' %}

{% block title %}
    {{ parent() }} | Installer
{% endblock %}

{% block headerContent %}
    <h1>
        Installer
        <small>User</small>
    </h1>
    <ol class="breadcrumb">
        <li><i class="fa fa-wrench"></i> Installer</li>
        <li>User</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="box box-primary">
                <form>
                    <div class="box-header">
                        <!-- Potential title -->
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label class="required">First name</label>
                            <input class="form-control" type="text" />
                        </div>
                        <div class="form-group">
                            <label class="required">Last name</label>
                            <input class="form-control" type="text" />
                        </div>
                        <div class="form-group">
                            <label class="required">Username</label>
                            <input class="form-control" type="text" />
                        </div>
                        <div class="form-group">
                            <label class="required">Password</label>
                            <input class="form-control" type="text" />
                        </div>
                        <div class="form-group">
                            <label class="required">Repeat password</label>
                            <input class="form-control" type="text" />
                        </div>

                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
