{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }} | Time tracker
{% endblock %}

{% block headerContent %}
    <h1>
        Time tracker
        <small>Overview</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="{{ path('jumph_time_overview') }}"><i class="fa fa-clock-o"></i> Time tracker</a></li>
        <li> Overview</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-8 col-md-12">
            <div class="box box-primary table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Project</th>
                            <th>Category</th>
                            <th>Description</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select class="form-control">
                                    <option>Project 1</option>
                                    <option>Project 2</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-control">
                                    <option>Design</option>
                                    <option>Development</option>
                                </select>
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="date" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" /> : <input type="text" class="form-control" />
                            </td>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td>Project 1</td>
                            <td>Design</td>
                            <td>Created favicon</td>
                            <td>August 3, 2014</td>
                            <td>1h</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Options <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="">Edit</a></li>
                                        <li class="divider"></li>
                                        <li><a href="" class="js-delete-item">Delete</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Project 1</td>
                            <td>Design</td>
                            <td>Created favicon</td>
                            <td>August 3, 2014</td>
                            <td>1h</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Options <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="">Edit</a></li>
                                        <li class="divider"></li>
                                        <li><a href="" class="js-delete-item">Delete</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-lg-4 col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <!-- Potential title -->
                </div>
                <div class="box-body">
                    <dl class="dl-horizontal">
                        <dt>This week:</dt>
                        <dd>24h</dd>

                        <dt>Last week:</dt>
                        <dd>40h</dd>

                        <dt>This month:</dt>
                        <dd>153h</dd>
                    </dl>
                </div>
                <div class="box-footer">
                    <!-- Potential footer -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}