{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }} | Calendar
{% endblock %}

{% block headerContent %}
    <h1>
        Calendar
        <small>Overview</small>
    </h1>
    <ol class="breadcrumb">
        <li><i class="fa fa-calendar"></i> Calendar</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="row">
       
    </div>
{% endblock %}